html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(109, 6, 160);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 16%;
    background-color: rgb(31, 241, 206);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(31, 241, 206);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: black;
    min-height: 150px;
}